/*
    This file manages the colors of the entire application
*/
$color-white: #fff; 
$color-black: #000; 
$color-blue: #0000ff;
$color-yellow: #ffff00;
$color-green: #008000;
$color-red:#f54747;
$color-stoke:#302e2e;
$color-navbg:#F2F2F2;
$color-hoverEffectBtn:#0cac0c;