@import "../../Sass/variable.scss";

.dash-bg {
  background: url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center/cover no-repeat;
  height: 700px;
  width: 100%;
  & .texts {
    width: 800px;
    height: fit-content;
    margin: auto;
    position: sticky;
    top: 20%;
    margin-bottom: 10%;
    & .headings {
      & .heading1 {
        background: -webkit-linear-gradient(left, #2b42e9, #755efc, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4rem;
        text-align: center;
        transition: 0.5s;
      }
      & .heading1:hover {
        -webkit-text-stroke: 1.2px rgb(123, 218, 183);
        background: -webkit-linear-gradient(left, white, #755efc, #2b42e9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      & .type {
        font-size: 3rem;
        margin-top: 20px;
        text-align: center;
        span {
          color: coral;
          font-family: gustera;
          line-height: 6rem;
          font-size: 6rem;
          letter-spacing: 4px;
          font-weight: 200;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .dash-bg {
    height: 670px;
    & .texts {
      width: 760px;
      & .headings {
        & .heading1 {
          font-size: 3.5rem;
        }
        & .type {
          font-size: 2.6rem;
          margin-top: 18px;
          span {
            line-height: 5rem;
            font-size: 5rem;
            letter-spacing: 4px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .dash-bg {
    height: 640px;
    & .texts {
      width: 700px;
      & .headings {
        & .heading1 {
          font-size: 3.2rem;
        }
        & .type {
          font-size: 2.4rem;
          margin-top: 17px;
          span {
            line-height: 4rem;
            font-size: 4.7rem;
            letter-spacing: 4px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .dash-bg {
    height: 600px;
    & .texts {
      width: 550px;
      & .headings {
        & .heading1 {
          font-size: 3rem;
        }
        & .type {
          font-size: 2rem;
          margin-top: 15px;
          span {
            line-height: 3.5rem;
            font-size: 4.2rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .dash-bg {
    height: 550px;
    & .texts {
      width: 450px;
      & .headings {
        & .heading1 {
          font-size: 2.5rem;
        }
        & .type {
          font-size: 1.6rem;
          margin-top: 13px;
          span {
            line-height: 3rem;
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .dash-bg {
    height: 650px;
    & .texts {
      width: 600px;
      & .headings {
        & .heading1 {
          font-size: 3.5rem;
          line-height: 100px;
        }
        & .type {
          font-size: 2.8rem;
          margin-top: 20px;
          line-height: 3rem;
          span {
            line-height: 5rem;
            font-size: 5.5rem;
            letter-spacing: 4px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .dash-bg {
    height: 600px;
    & .texts {
      width: 500px;
      & .headings {
        & .heading1 {
          font-size: 3rem;
          line-height: 80px;
        }
        & .type {
          font-size: 2.4rem;
          margin-top: 18px;
          line-height: 2.8rem;
          span {
            line-height: 4rem;
            font-size: 4.7rem;
            letter-spacing: 4px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .dash-bg {
    height: 550px;
    & .texts {
      width: 450px;
      & .headings {
        & .heading1 {
          font-size: 2.4rem;
          line-height: 50px;
        }
        & .type {
          font-size: 2rem;
          margin-top: 15px;
          line-height: 3rem;
          span {
            line-height: 3.5rem;
            font-size: 4rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .dash-bg {
    height: 500px;
    & .texts {
      width: 100%;
      & .headings {
        & .heading1 {
          font-size: 2rem;
          line-height: 40px;
        }
        & .type {
          font-size: 1.8rem;
          margin-top: 15px;
          span {
            line-height: 3rem;
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .dash-bg {
    height: 450px;
    & .texts {
      & .headings {
        & .heading1 {
          font-size: 1.8rem;
        }
        & .type {
          font-size: 1.5rem;
          margin-top: 12px;
          line-height: 2.5rem;
          span {
            line-height: 2.5rem;
            font-size: 3rem;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}
